---
layout: default
title: Articles by Gourav Khunger | Software Developer
description: A collection of all the articles written by Gourav Khunger.
excerpt: A collection of all the articles written by me. Sorted in reverse order by date.
permalink: /articles
---

<h2 class="font-black">
  Articles
</h2>
<p class="mt-2 subtext">{{ page.excerpt }}</p>

<div class="mt-10 projects grid gap-4">
  <!-- sort based on date parameter in the hash -->
  {% assign articles = site.data.articles | custom_sort %}
  {% for article in articles %}
    {% include article.html %}
  {% endfor %}
</div>