---
layout: default
title: Blog | Gourav Khunger | Software Developer
description: Collection of things I find interesting and ideas that've helped me.
excerpt: thoughts / ideas / notes / progression
permalink: /blog
---

<h2 class="font-black">
  Blog
</h2>
<p class="mt-2 mb-4 subtext">{{ page.excerpt }}</p>

<div class="md:max-w-2xl gap-2 flex flex-col">
  {% assign year = "" %}
  {% for post in site.posts %}
  {% assign current_year = post.date | date: '%Y' %}
  {% if year != current_year %}
  {% assign year = current_year %}
  <h3 class="mt-6">{{ year }}</h3>
  {% endif %}
  <div class="ml-4">
    <span class="subtext">{{ post.date | date: '%b %d' }} &bull;</span>
    <span class="subtext">{{ post.type | default: 'Article' | downcase | capitalize }} &bull;</span>
    <a class="underline-animate" href="{{ post.url }}"><span>{{ post.title | default: "Untitled" }}</span></a>
  </div>
  {% endfor %}
</div>
