---
layout: default
title: Gourav Khunger | Software Developer
description: Personal website of Gourav Khunger - Software Developer from India.
permalink: /
---

<div class="sm:flex sm:flex-row-reverse justify-between items-center">
  <img class="h-24 w-24 sm:h-36 sm:w-36 mb-6 sm:mb-0" src="/assets/images/gourav.webp" alt="Gourav Khunger" />
  <div class="sm:mr-16">
    <h2 class="font-black">
      Gourav Khunger
    </h2>
    <span class="subtext">Software Developer; Technical Writer; YouTuber</span>
    <p class="mt-6 dark:text-gray-400">Hi, I am a self-taught software developer from India. My primary expertise is native Android app development with which I began my journey, but over time I have gained experience with a lot of tech stacks.</p>
    <div class="mt-4 -ml-2 flex">
      <a
        href="https://l.gourav.sh/github"
        class="underline-none round-button mr-2"
        aria-label="Visit Gourav's GitHub profile">
        {% include github_svg.html %}
      </a>
      <a
        href="https://l.gourav.sh/twitter"
        class="underline-none round-button mx-2"
        aria-label="Visit Gourav's Twitter profile">
        {% include twitter_svg.html %}
      </a>
      <a
        href="https://l.gourav.sh/youtube"
        class="underline-none round-button mx-2"
        aria-label="Visit Gourav's YouTube channel">
        {% include youtube_svg.html %}
      </a>
      <a
        href="https://l.gourav.sh/stackoverflow"
        class="underline-none round-button mx-2"
        aria-label="Visit Gourav's StackOverflow profile">
        {% include stackoverflow_svg.html %}
      </a>
      <a
        href="https://l.gourav.sh/linkedin"
        class="underline-none round-button ml-2"
        aria-label="Visit Gourav's LinkedIn profile">
        {% include linkedin_svg.html %}
      </a>
    </div>
  </div>
</div>

<div class="mt-14">
  <h2 class="font-black">
    Quick Insights
  </h2>
  <p class="mt-2 subtext">Bits about my internet presence</p>
  <div class="mt-6">
    <div class="insight">
      {% include right_arrow.html %}
      <p>Google <a href="/achievement/google-associate-android-developer">certified</a> <span>Associate Android Developer</span>.
    </div>
    <div class="insight">
      {% include right_arrow.html %}
      <p><span>20+</span> <a href="https://l.gourav.sh/youtube" target="_blank">YouTube</a> videos. <span>40K+</span> views.</p>
    </div>
    <div class="insight">
      {% include right_arrow.html %}
      <p><span>100+</span> <a href="https://l.gourav.sh/stackoverflow" target="_blank">StackOverflow</a> answers reaching <span>750K+</span> people.</p>
    </div>
    <div class="insight">
      {% include right_arrow.html %}
      <p><span>50+</span> articles on Kotlin, Android, Web, Software development and more.</p>
    </div>
    <div class="insight">
      {% include right_arrow.html %}
      <p><span>Author</span> at famous publications: <a href="https://l.gourav.sh/genicsblog" target="_blank">Genics Blog</a>, <a href="https://l.gourav.sh/dev-to" target="_blank">dev.to</a>, <a href="https://l.gourav.sh/freecodecamp" target="_blank">FreeCodeCamp</a>, etc.</p>
    </div>
    <div class="insight">
      {% include right_arrow.html %}
      <p><span>1 Million+</span> total content views on the internet.</p>
    </div>
  </div>
</div>

<div class="mt-16">
  <h2 class="font-black">
    Awards &amp; Achievements
  </h2>
  <p class="mt-2 subtext">Some of my wins in the past</p>
  
  <div class="mt-6 gap-4 grid grid-flow-row">
    {% assign achievements = 'google-associate,atlas-fellowship' | split: ',' %}

    {% for str in achievements %}
      {% for achievement in site.data.achievements %}
        {% if achievement[0] contains str %}
          {% include achievement.html %}
          {% break %}
        {% endif %}
      {% endfor %}
    {% endfor %}
  </div>

  <div class="flex justify-center">
    <a
      href="/wins"
      class="mt-8 px-3 py-2 link-button">
      View all &gt;
    </a>
  </div>
</div>

<div class="mt-16">
  <h2 class="font-black">
    Work Experience
    <p class="mt-2 subtext">Organizations that I've contributed to</p>
    <div class="mt-6">
    {% assign work = site.data.work | reverse %}
    {% for job in work %}
      {% include job.html %}
    {% endfor %}
    </div>
  </h2>
</div>

<div class="mt-16">
  <h2 class="font-black">
    Featured projects
  </h2>
  <p class="mt-2 subtext">Projects that I'm proud of</p>

  <div class="mt-6 gap-4 grid grid-flow-row grid-cols-1 sm:grid-cols-3">
    {% assign projects = 'genics-blog,jekyllex,jekyll-auto-authors' | split: ',' %}

    {% for project in site.data.projects %}
      {% if projects contains project[0] %}
        {% include project.html %}
      {% endif %}
    {% endfor %}
  </div>

  <div class="flex justify-center">
    <a
      href="/projects"
      class="mt-8 px-3 py-2 link-button">
      View all projects &gt;
    </a>
  </div>
</div>

<div class="mt-16">
  <h2 class="font-black">
    Featured articles
  </h2>
  <p class="mt-2 subtext">Articles that I'm proud of</p>

  <div class="mt-6 gap-4 grid grid-flow-row">
    {% assign articles = 'swipe-animations,3-years,android-application-fundamentals' | split: ',' %}

    {% for str in articles %}
      {% for article in site.data.articles %}
        {% if article[0] contains str %}
          {% include article.html %}
          {% break %}
        {% endif %}
      {% endfor %}
    {% endfor %}
  </div>

  <div class="flex justify-center">
    <a
      href="/articles"
      class="mt-8 px-3 py-2 link-button">
      View all articles &gt;
    </a>
  </div>
</div>

<div class="mt-16">
  <h2 class="font-black">
    Testimonials
  </h2>
  <p class="mt-2 subtext">What people say about me</p>
  <div class="mt-6 gap-4 grid grid-flow-row grid-cols-1 md:grid-cols-3">
    {% for testimonial in site.data.testimonials limit: 3 %}
    {% include testimonial.html %}
    {% endfor %}
  </div>

  <div class="flex justify-center">
    <a
      href="/testimonials"
      class="mt-8 px-3 py-2 link-button">
      View all &gt;
    </a>
  </div>
</div>

<h2 class="mt-16 font-black">
  Contact
</h2>
<p class="mt-2 subtext">Ways you could reach out to me.</p>

<div class="mt-6 text-lg">
  <p>If you have any queries or just wanna say hello, please don't hesitate to contact me at <a href="mailto:hi@gourav.sh">hi@gourav.sh</a>!</p>
  <p class="mt-2">
    To get in touch regarding Genics, please send an e-mail to <a href="mailto:contact@genicsblog.com">contact@genicsblog.com</a>.
  </p>
</div>
