---
layout: default
title: Projects by Gourav Khunger | Software Developer
description: A collection of all the projects built by Gourav Khunger
excerpt: Collection of the projects built by me.
permalink: /projects
---

<h2 class="font-black">
  Projects
</h2>
<p class="mt-2 subtext">{{ page.excerpt }}</p>

<div class="mt-10 gap-4 projects grid grid-flow-row grid-cols-1 sm:grid-cols-2">
  {% for project in site.data.projects %}
    {% include project.html %}
  {% endfor %}
</div>

<div class="flex justify-center">
  <a
    href="https://github.com/gouravkhunger" target="_blank"
    class="mt-10 px-3 py-2 link-button">
    Visit my GitHub profile &gt;
  </a>
</div>