# build
dist/
.astro/

# deps
node_modules/

# env
.env
.env.*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# os / ide
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json

# migrate staging
.migrate/
