title: Gourav Khunger
email: gouravkhunger18@gmail.com
description: >-
  Gourav Khunger is a 17 year old software developer and a self-taught programmer. He specialises in native Android app development and is passionate about Open Source. Checkout his projects on Github!
baseurl: ""
url: "https://gourav.sh"
google_analytics: "G-GSRER1MM23"

collections:
  projects:
    permalink: /project/:name
    output: true
  achievements:
    permalink: /achievement/:name
    output: true

defaults:
  - scope:
      path: "_projects/*.md"
    values:
      layout: project
  - scope:
      path: "_achievements/*.md"
    values:
      layout: achievement

plugins:
  - jekyll-sitemap
  - jekyll-postcss
  - jekyll-minifier
  - jekyll-hostname
  - jekyll-hashsert

jekyll-minifier:
  exclude:
    - "sitemap.xml"
    - "assets/css/theme.css"
  uglifier_args:
    harmony: true

extlinks:
  attributes: { rel: nofollow noopener noreferrer, target: _blank }
  rel_include: [ "l.gourav.sh" ]
  rel_exclude: [ "gourav.sh", "github.com", "genicsblog.com" ]

include:
  - _pages

exclude:
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/
  - postcss.config.js
  - tailwind.config.js
  - package.json
  - package-lock.json
  - README.md
  - LICENSE
