<div class="mx-auto mb-16 frozen">
  <header>
    <h3 class="mt-2">
      <a href="/">RMC</a>
    </h3>
    <nav>
      <div class="desktop-nav">
        {% for item in site.data.nav %}
        <a href="{{ item.url }}" {% if item.target %} target="{{ item.target }}" {% endif %}>{{ item.title }}</a>
        {% endfor %}

      </div>
      <div class="burgers">
        <div class="bar1"></div>
        <div class="bar2"></div>
      </div>
      <div class="hidden mobile-nav">
        {% for item in site.data.nav %}
        <a href="{{ item.url }}">{{ item.title }}</a>
        {% endfor %}
      </div>
    </nav>
  </header>
</div>