{% assign projectName =  page.name | remove: '.md' %}

<div class="gallery-small">
    <div class="scrolling-container">
        <img
            loading="lazy"
            id="gallery-image"
            src=""
            alt="Gallery Image"
            ontouchstart="handleTouchStart(event)"
            ontouchmove="handleTouchMove(event)"
            ontouchend="handleTouchEnd(event)"
        />
        <div class="arrow left-arrow round-button" onclick="changeImage(-1)">
            {% include left_arrow.html %}
        </div>
        <div class="arrow right-arrow round-button"  onclick="changeImage(1)">
            {% include right_arrow.html %}
        </div>
    </div>
</div>


<!--Change image function-->
<script>
    let currentIndex = 0;
    let touchStartX = 0;
    let touchEndX = 0;
    const gallery = document.getElementById('gallery-image');

    const galleryImages = [
        {% for image in site.data.projects[projectName].images %}
        {
          image: "/assets/images/projects/{{ projectName }}/{{ image.source }}"
        },
        {% endfor %}
    ];


    function changeImage(offset) {
      currentIndex += offset;

      if (currentIndex < 0) {
        currentIndex = galleryImages.length - 1;
      } else if (currentIndex >= galleryImages.length) {
        currentIndex = 0;
      }

      gallery.src = galleryImages[currentIndex].image;
    }

    gallery.src = galleryImages[currentIndex].image;

    function handleTouchStart(event) {
      touchStartX = event.touches[0].clientX;
    }

    function handleTouchMove(event) {
      touchEndX = event.touches[0].clientX;
    }

    function handleTouchEnd(event) {
      const swipeThreshold = 50; // Adjust this threshold as needed

      if (touchStartX - touchEndX > swipeThreshold) {
        // Swiped left, show next image
        changeImage(1);
      } else if (touchEndX - touchStartX > swipeThreshold) {
        // Swiped right, show previous image
        changeImage(-1);
      }
    }
</script>