<div class="flex flex-row">
  <div class="w-1/6 flex flex-col sm:mr-0 items-center">
    <div class="p-4 rounded-full border-2 border-black dark:border-white">
      {% assign last_char = job.company.name | slice: -1 %}
      {% if job.company.logo %}
      <img
        alt="{{ job.company.name }}'{% if last_char != 's' %}s{% endif %} logo"
        src="{{ job.company.logo }}" class="w-6 h-6" loading="lazy" />
      {% else %}
      {% include building_svg.html %}
      {% endif %}
    </div>
    {% if forloop.last != true %}
    <div class="h-full mx-auto border-l-2 border-black dark:border-white">
    </div>
    {% endif %}
  </div>
  <div class="pl-6 sm:pl-0 w-5/6">
    <span class="text-2xl">
      {{ job.company.name }}
    </span>
    {% if job.company.url %}
    <a
      target="_blank" class="underline-none" href="{{ job.company.url }}"
      aria-label="Visit {{ job.company.name }}'{% if last_char != 's' %}s{% endif %} website">
      {% include link_svg.html %}
    </a>
    {% endif %}
    {% assign positions = job.positions | reverse %}
    {% for position in positions %}
    <span class="{% if forloop.first != true %}mt-2 {% endif %}flex flex-row font-black items-center text-xs subtext">
      {{ position.name }}{% if position.type %} &bull; {{ position.type }}{% endif %}
    </span>
    <span class="text-xs subtext">
      {{ position.from | date: '%b %Y'}}
      —
      {% if position.to %}{{ position.to | date: '%b %Y'}}{%else%}Present{% endif %}
    </span>
    {% endfor %}
    <p class="mt-2{% if forloop.last != true %} mb-8{% endif %}">{{ job.company.description }}</p>
  </div>
</div>
