{% assign initialYear = 2023 %}

<div class="timeline-title">
    <h3 class="text-center sm:text-right mr-8">Work</h3>
    <h3 class="text-center sm:text-left ml-8">Education</h3>
</div>
<div class="timeline-content">
    {% assign columnSide = 'left' %}
    {% assign column = 1 %}
        {% for item in site.data.work %}
            {% include timeline_card.html %}
        {% endfor %}

    {% assign columnSide = 'right' %}
    {% assign column = 2 %}
        {% for item in site.data.education %}
            {% include timeline_card.html %}
        {% endfor %}
</div>

