<a
  href="https://youtu.be/{{ video['id'] }}"
  class="video underline-none cursor-pointer"
  onclick="return playVideo('{{ video['id'] }}')"
>
  <img
    loading="lazy"
    class="w-full aspect-video rounded-lg"
    alt="{{ video['title'] | default: 'Dummy title' }}"
    src="{{ video['thumbnail'] | default: 'https://i.ytimg.com/vi/default.jpg' }}"
  />

  <span class="mt-6 text-lg line-clamp-2">
    {{ video['title'] | default: 'Dummy title' }}
  </span>

  <span class="text-sm text-slate-500 dark:text-gray-400">
    {{ video['date'] | default: '1970-01-01T00:00:00.000Z' | date: '%b %d, %Y' }}
  </span>

  <p class="mt-4 text-slate-500 dark:text-gray-400">
    {{ video['description'] | default: 'Dummy description' }}
  </p>
</a>
