---
layout: default
---

{% if page.hasThumbnail %}
<img
  loading="lazy" class="mx-auto rounded-xl"
  src="/assets/images/achievements/{{ page.name | remove: '.md' }}.webp" />
{% elsif page.youtube %}
<iframe
  src="https://www.youtube.com/embed/{{ page.youtube }}"
  class="w-full aspect-video rounded-xl"
  allowfullscreen loading="lazy">
</iframe>
{% endif %}

{% assign achievement = site.data.achievements[page.slug] %}
<h2 class="mt-10 font-black">
  {{ achievement.name }}
</h2>
<p class="mt-2 text-slate-500 dark:text-slate-300">{{ achievement.excerpt }}</p>

{% if page.visit %}
<div class="mt-10 flex flex-col sm:flex-row items-center justify-center">
{% for item in page.visit %}
  <a
    href="{{ item.link }}"
    {% if item.download %}download{% endif %}
    class="{% if forloop.first != true %}mt-4 sm:mt-0 {% endif %}mx-2 px-3 py-2 link-button">
    {{ item.anchorText }} &gt;
  </a>
{% endfor %}
</div>
{% endif %}

{% assign content = page.content | strip_newlines %}
{% if content != "" %}
<div class="mt-10 content">
  {{ page.content }}
</div>
{% endif %}