---
layout: default
---

{% if page.quote %}
<blockquote>
  <p class="text-4xl">
    {{ page.quote.text }}
  </p>
  {% if page.quote.author %}<span class="mt-2">— {{ page.quote.author }}</span>{% endif %}
</blockquote>
{% endif %}

{% if page.hasThumbnail %}
<img
  loading="lazy" class="mx-auto rounded-xl"
  src="/assets/images/blog/{{ page.date | date: '%Y/%m' }}/{{ page.title | slugify | remove: '.md' }}/thumbnail.webp" />
{% elsif page.youtube %}
<iframe
  src="https://www.youtube.com/embed/{{ page.youtube }}"
  class="w-full aspect-video rounded-xl"
  allowfullscreen loading="lazy">
</iframe>
{% endif %}

{% unless page.hideTitle %}
<h2 class="mt-10 font-black">
  {{ page.title }}
</h2>
{% endunless %}
{% if page.description %}
<p class="mt-2 subtext">{{ page.description }}</p>
{% endif %}
<span class="subtext text-sm">{{ page.date | date: '%b %d, %Y' }}</span>

<div class="mt-10 content">
  {{ page.content }}
</div>