---
layout: default
---

{% if page.hasThumbnail %}
<img
  loading="lazy" src="/assets/images/projects/{{ page.name | remove: '.md' }}.webp"
  class="mx-auto rounded-xl{% if page.ignorePreviewAspect != true %} sm:aspect-video{% endif %}" />
{% elsif page.youtube %}
<iframe
  src="https://www.youtube.com/embed/{{ page.youtube }}"
  class="w-full aspect-video rounded-xl"
  allowfullscreen loading="lazy">
</iframe>
{% elsif page.github %}
{% assign image = page.github | prepend: "https://opengraph.githubassets.com/$/" | hashsert %}
<img loading="lazy" src="{{ image }}" class="mx-auto sm:aspect-video rounded-xl" />
{% endif %}

{% assign project = site.data.projects[page.slug] %}
<h2 class="mt-10 font-black">{{ project.name }}</h2>
<p class="mt-2 text-slate-500 dark:text-slate-300">{{ project.excerpt }}</p>

<div class="mt-4">
  {% for tech in project.stack %}
  <span class="tag">{{ tech }}</span>
  {% endfor %}
</div>

{% if page.visit %}
<div class="mt-8 flex flex-col sm:flex-row items-center justify-center">
{% for item in page.visit %}
  <a
    href="{{ item.link }}"
    class="{% if forloop.first != true %}mt-4 sm:mt-0 {% endif %}mx-2 px-3 py-2 link-button">
    {{ item.anchorText }} &gt;
  </a>
{% endfor %}
</div>
{% endif %}

{% assign content = page.content | strip_newlines %}
{% if content != "" %}
<div class="mt-10 content">
  {{ page.content }}
</div>
{% endif %}