---
layout: default
---

<h2 class="font-black">
  Videos
</h2>

<p class="mt-2 text-slate-500 dark:text-slate-300">
  Collection of all my <a href="https://l.gourav.sh/youtube">youtube videos</a>{% if page.page_number != 1 %} — Page {{ page.page_number }}{% endif %}.
</p>

<div class="mt-10 gap-8 projects grid grid-flow-row grid-cols-1 sm:grid-cols-2">
  {% for video in page.videos %}
    {% include video.html %}
  {% endfor %}
</div>

<div class="mt-10 flex justify-center items-center">
  {% if page.page_number > 1 %}
  <a
    href="/videos{% if page.page_number != 2 %}/page/{{ page.page_number | minus: 1 }}{% endif %}"
    class="px-3 py-2 link-button">
    &lt; Previous
  </a>
  {% endif %}

  <span class="mx-4">Page {{ page.page_number }} of {{ page.total_pages }}</span>

  {% if page.page_number < page.total_pages %}
  <a
    href="/videos/page/{{ page.page_number | plus: 1 }}"
    class="px-3 py-2 link-button">
    Next &gt;
  </a>
  {% endif %}
</div>
